@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@inject IHttpContextAccessor HttpContextAccessor
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Xin chào, @context.User.Identity?.Name!</h1>
        <p>Bạn đã đăng nhập thành công.</p>

        <a href="/products" class="btn btn-info">
            Quản lý sản phẩm
        </a>

        <a href="api/auth/logout" class="btn btn-danger">Đăng xuất</a>
    </Authorized>
    <NotAuthorized>
        <h1>Chào mừng đến Construction360</h1>
        <a href="api/auth/login" class="btn btn-primary">Đăng nhập</a>
    </NotAuthorized>
</AuthorizeView>
